<div class="container">
  <div class="logo">
    <img src="https://firebasestorage.googleapis.com/v0/b/rickandmorty-4a867.appspot.com/o/RickY%26Morty.png?alt=media&token=fc153e55-f0bb-43e3-b8ba-872749869d67" alt="">
  </div>
  <div class="search">
    <img src="https://firebasestorage.googleapis.com/v0/b/rickandmorty-4a867.appspot.com/o/search.svg?alt=media&token=5c00d75e-2552-4bf5-9fb8-f1b437c6a8c7" class="search-icon" alt="">
    <input type="text" name="search" class="search-input" placeholder="Filter by name..." (input)="filterCharacters(search)" [(ngModel)]="search">
  </div>
  <ul class="list">
    <li class="list-item" [routerLink]="[ '/search', character.id ]" *ngFor="let character of characters" >
      <div class="list-item-icon">
        <img [src]="character.image" alt="">
      </div>
      <div class="list-item-info">
        <h3 class="list-item-name"> {{ character.name }} </h3>
        <p class="list-item-species"> {{ character.species }} </p>
      </div>
    </li>
  </ul>
  <button class="load" (click)="loadMore()">More 20</button>
</div>
